@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    font-family: "Montserrat" ,sans-serif;
    color: black;
    background-color: #FDEFEF;
}
body#page1{
    background-image:url('background.jpg');
    }
nav{
    background-color: #F6D4D4;
    position: fixed;
}
#pagehome{
    background-image:url('background.jpg');
    background-size: 100% 100%;
}
h1{
    font-weight: 700;
    font-size: 50px;
}

.fotoprofil{
width: 250px;
height: 250px;
float: right;
padding-top: 150px;
margin-right: 45px;
}

.hello{
padding-top: 170px;
margin-left: 20px;
}

.introduction{
font-size: 20px;
margin-left: 20px;
}

.btn{
background-color: #DD9696;
margin-bottom: 40px;
}

.biodatacolumn{
background-color:#F3E2E2;
width: 450px;
height: 500px;
padding-top: 50px;
padding-right: 30px;
padding-left: 30px;
padding-bottom: 50px;
margin-top: 150px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
}

.title{
width: 300px;
height: 100px;
margin-top: 250px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.hobbies{
width: 100px;
height: 100px;
margin-top: 100px;
}

.experiences{
background-color:#F3E2E2;
width: 450px;
padding-top: 50px;
padding-right: 30px;
padding-left: 30px;
padding-bottom: 50px;
margin-top: 70px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
}

.centertitle{
    margin-top: 150px;
    text-align: center;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

#reachme{
    margin-top: 30px;
}

#iconcontainer{
    background-color:#F3E2E2;
    height: 200px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 70px;
    padding-bottom: 0px;
}

.bookname{
    text-align: center;
    margin-bottom: 30px;
}